.wrapcube
    #a.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
    #b.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
    #c.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
    #d.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
    #e.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
    #f.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
    #g.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom